<?xml version="1.0"?>
<robot name="Test_Bench" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="uku_core.xacro"/>
    <xacro:include filename="ZADAR.xacro"/>
    <xacro:include filename="LIDAR.xacro"/>
    <xacro:include filename="SMARTMICRO.xacro"/> 
    <xacro:include filename="CAMERA.xacro"/> 
    <xacro:include filename="IMU.xacro"/> 
</robot>
